/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* coding.css                                /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/07/01 17:17 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

.project-card {
  flex: 1 1 30%;
  background: white;
  font-weight: bold;
  overflow: hidden;
  border: 3px solid black;
  margin: 20px 20px 10px 10px;
  box-shadow: 10px 10px 0px black;
  overflow: hidden;
  transition: all 0.3s ease;
}

.project-card:nth-last-child(-n + 3) {
  margin-bottom: 40px;
}

.project-card:hover {
  background-color: #fff;
  border: 3px solid #ff5252;
  box-shadow: 10px 10px 0px #ff5252;
}

.project-card:hover h3 {
  color: #ff5252;
  border-top: 3px solid #ff5252;
  background-color: white;
}

.project-card:active h3 {
  color: #ff5252;
  background-color: #fcf414;
  transition: 0.5s;
}

.project-card:active {
  box-shadow: none;
  transform: translateY(4px);
}

@media (orientation: portrait) {
  .project-card {
    flex: 1 1 100%;
    max-height: 30vh;
  }

  .project-card:nth-child(n) {
    background-color: #229999;
  }

  .project-card:nth-child(n + 5) {
    background-color: white;
  }

  .project-card:nth-child(n + 7) {
    background-color: rgb(247, 159, 76);
  }

  .project-card:nth-child(6) img {
    aspect-ratio: 1.5/1;
  }
}

@media (orientation: landscape) {

  .project-card:nth-child(1),
  .project-card:nth-child(2),
  .project-card:nth-child(3) {
    flex: 1 1 calc(30% - 40px);
    background-color: #00babc;
    max-height: 30vh;
    /* Three project-cards in a row */
  }

  .project-card:nth-child(4) {
    flex: 1 1 100%;
    max-height: 40vh;
    background-color: #00babc;
    /* Full-width project-card */
  }

  .project-card:nth-child(5),
  .project-card:nth-child(6) {
    flex: 1 1 calc(50% - 40px);
    max-height: 35vh;
    /* Two project-cards in a row */
  }

  .project-card:nth-child(7),
  .project-card:nth-child(8),
  .project-card:nth-child(9) {
    background-color: rgb(247, 159, 76);
    flex: 1 1 calc(30% - 40px);
    max-height: 30vh;
    /* Three items in a row */
  }

  .project-card:nth-child(3) img {
    width: 100%;
  }
  .project-card:nth-child(6) img {
    aspect-ratio: 1.5/1;
  }
}

.project-card img {
  height: 85%;
  aspect-ratio: 1 / 1;
}

.project-card h3 {
  width: 100%;
  height: 15%;
  font-size: 3vh;
  transition: all 0.3s ease;
  font-family: NewGothic;
  z-index: 1;
  position: sticky;
  bottom: 0%;
  margin: 0;
  padding: 0;
  border-top: solid black 3px;
  background: #ff5252;
  color: white;
}

.project-card p {
  padding: 15px;
  color: #666;
}

.project-card a {
  display: block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #333;
  margin: 0 15px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

.project-card a:hover {
  background: #555;
}

.costum-content a {
  color:#ff5252;
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.costum-content li {
  text-align: left;
  position: relative;

  &:hover {
    &:after {
      box-shadow:0 0 0 4px white, 0 0 0 7px #ff5252;
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 7.5px;
    height: 7.5px;
    background: #ff5252;
    border-radius: 100%;
    left: -25px;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 0 0 0 white, 0 0 0 0 #ff5252;
    transition: 0.4s ease-in-out;
  }
}

/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
