/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* content-switcher.css                      /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/05/29 12:54 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

.pop-up-btn, .pop-down-btn {
  font-size: 5rem;
  font-weight: bolder;
  margin-left: auto;
}

.pop-up-btn {
  margin-top: 4vh;
}

.pop-down-btn {
  margin-bottom: 4vh;
  transform: rotate(180deg);
}

.pop-up:hover .pop-up-btn {
  color: #ff5252;
  animation: bounce-up 2s infinite;
}

.pop-down:hover .pop-down-btn {
  color: #ff5252;
  animation: bounce-down-rotate 2s infinite;
}

.pop-up:hover .pop-text {
  color: #ff5252;
  animation: bounce-up 2s infinite;
}

.pop-down:hover .pop-text {
  color: #ff5252;
  animation: bounce-down 2s infinite;
}

.pop-up, .pop-down {
  font-family: 'DS-Digital', sans-serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  position: relative;
}

.pop-down {
  display: none;
}

.pop-text {
  font-weight: bolder;
  margin-left: auto;
  font-weight: 1000;
  font-size: 3rem;
}

@keyframes bounce-up {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-2vh );
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce-down-rotate {
  0% {
    transform: rotate(180deg) scale(1, 1) translateY(0);
  }
  10% {
    transform: rotate(180deg) scale(1.1, .9) translateY(0);
  }
  30% {
    transform: rotate(180deg) scale(.9, 1.1) translateY(-2vh);
    /* Bounce down (visually up) */
  }
  50% {
    transform: rotate(180deg) scale(1, 1) translateY(0);
  }
  100% {
    transform: rotate(180deg) scale(1, 1) translateY(0);
  }
}

@keyframes bounce-down {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(2vh);
  }

  50% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.contact {
  display: flex;
  height: 10vh;
  width: calc(100vw - 50vh);
  text-align: end;
  margin: 0 3% 3% 0;
  padding-left: 0.34%;
  color:black;
}

.contact-popup {
  display: flex;  
  flex-direction: row;
  position: fixed;
  border: 3px solid #f1f1f1;   
  background-color: white; 
  z-index: 1;
  overflow: auto;
}

.contact-img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

@media (width < 1500px) {
  .contact-img {
    display: none;
  }
  .contact-popup {
    flex-direction: column;
  }
}

.img-and-result {
  text-align: center;
  height: 80vh;
  /* width: calc(100vw - 50vh - 1000px); */
}

#result {
  height: 20%;
  font-size: 2rem;
  font-family: O4B_30;
  color: white;
  text-shadow: -1px -1px 0 #ff5252, 1px -1px 0 #ff5252, -1px 1px 0 #ff5252, 1px 1px 0 #ff5252, 5px 5px #ff5252;
}


.contact-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  max-width: 1000px;
}

.form-group-container {
  height: 100%;
}

.form-group-container h1 {
  font-size: 2rem;
  margin: 20px 40px 0px 40px;
  font-family: O4B_30;
  color: white;
  text-shadow: -1px -1px 0 #ff5252, 1px -1px 0 #ff5252, -1px 1px 0 #ff5252, 1px 1px 0 #ff5252, 5px 5px #ff5252;
}

.bigger {
  font-size: 2.5rem;
}

.form-group {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 600px;
  margin: 5px 40px 2.5vh 40px
}

.form-input{
  height: 35px;
  border:none;
  border-bottom: 2px solid #000;
  font-family: 'Press Start 2P', cursive;
}

#message {
  line-height: 40px;
  border: 2px solid #000;
  padding: 5px;
  font-family: 'Press Start 2P', cursive;
}

.form-label {
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  line-height: 40px
}

#message:focus, #email:focus, #name:focus {
  border-color: #ff5252;
  color: #ff5252;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.form-submit {
  max-width: 400px;
  height: 80px;
  font-size: 2rem;
  font-family: O4B_30;
  color: white;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 5px 5px black;
  position: inherit;
  margin: 2vw 1vh;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border: 2px solid #000;
  background-color: #ff5252;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 5px 40px 30px 40px
}

.form-submit:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.form-submit:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}



/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
