/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* content.css                               /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/05/29 12:54 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

.welcome { 
  color: white;
  font-size: 1.5rem;
  margin-left: 1vw;
  font-family: O4B_30;
  width: calc(100vw - 50vh);
  text-shadow: -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000;
}

.welcome h1 {
  margin: 0;
}

.content-container {
  color: black;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
