/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* content-switcher.css                      /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/05/29 12:54 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

.mobile-content-switcher {
  height: 5vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: none;
}

@keyframes enlargeFullHeight {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    height: 85vh;
  }
}

.enlarge-full-height {
  animation: enlargeFullHeight ease-in-out 0.7s forwards;
}

@keyframes enlargeFullWidth {
  from {
    width: 25%;
  }
  to {
    width: 50%;
  }
}

.enlarge-full-width {
  animation: enlargeFullWidth ease-in-out 0.4s forwards;
}


@keyframes shrinkNormalWidth {
  from {
    width: 50%;
  }
  to {
    width: 25%;
  }
}

.shrink-normal-width {
  animation: shrinkNormalWidth ease-in-out 0.4s forwards;
}

@keyframes shrinkSmallContentSwitcher {
  from {
    height: 90vh;
  }
  to {
    height: 10vh;
  }
}

.shrink-small-content-switcher {
  animation: shrinkSmallContentSwitcher ease-in-out 0.4s forwards;
}


@keyframes enlargeContentSwitcher {
  from {
    height: 10vh;
  }

  to {
    height: 90vh;
  }
}

.enlarge-content-switcher {
  animation: enlargeContentSwitcher ease-in-out 0.4s forwards;
}

@keyframes slideContentUp {
  from {
    top: 100vh;
  }

  to {
    top: 10vh;
  }
}

.slide-content-up {
  animation: slideContentUp ease-in-out 0.4s forwards;
}

@keyframes slideContentOut {
  from {
    left: 50vh;
  }

  to {
    left: 100vw;
  }
}

.slide-content-out {
  animation: slideContentOut ease-in-out 0.4s forwards;
}

@keyframes slideContactDown {
  from {
    top: 10vh;
  }
  to {
    top: 100vh;
  }
}

.slide-contact-down {
  animation: slideContactDown ease-in-out 0.4s forwards;
}

.popup-button {
  width: 100%;
  text-align: center;
  border: none;
}

#popup-btn-text {
  color: black;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  text-shadow: none;
}

.content-button-small .content-button-text {
  font-size: 1.5rem;
  margin: auto;
  font-weight: normal;
}


@media (orientation: landscape) {
  .content-button-text {
    color: white;
    font-family: O4B_30;
    text-shadow: -1px -1px 0 #ff5252, 1px -1px 0 #ff5252, -1px 1px 0 #ff5252, 1px 1px 0 #ff5252, 5px 5px #ff5252;
  }

  .content-button .content-button-text {
    font-size: calc(1vw + 5vh);
    font-weight: bolder;
    transform: scaleX(150%);
    margin: 0;
    padding: 0;
    /* text-shadow: 10px 10px black; */
  }

  #code-btn-text.content-button {
    margin-top: 7vh;
  }

  #creative-btn-text.content-button {
    margin-bottom: 1vh;
  }

  #code-button.content-button {
    background: url(../images/coding-frame-ezgif.com-instagif.png);
    background-position: center;
    background-size: cover;
    align-items: start;
    flex-direction: column;
    /* background-color: rgba(178, 254, 203, 0.915);
    background-blend-mode: exclusion; */
    background-color: #f4dcf4e5;
    background-blend-mode: multiply;
  }

  #code-button:hover.content-button {
    background-image: url(../images/coding-ezgif.com-instagif.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #code-button.content-button-small {
    background-image: url(../images/coding-frame-ezgif.com-instagif.png);
    background-position: center;
    background-size: cover;
    align-items: start;
    /* background-color: rgba(178, 254, 203, 0.915);
    background-blend-mode: exclusion; */
    background-color: #f4dcf4e5;
    background-blend-mode: multiply;
  }

  #code-button:hover.content-button-small {
    background-image: url(../images/coding-ezgif.com-instagif.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }



  #creative-button:hover.content-button {
    background-image: url(../images/creative-mono.gif);
    background-color: white;
    background-blend-mode: exclusion;
  }

  #creative-button.content-button {
    background: url(../images/creative-mono.png);
    background-size: cover;
    background-color: #f1decfa9;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  #creative-button:hover.content-button-small {
    background-image: url(../images/creative-mono.gif);
    background-color: white;
    background-blend-mode: exclusion;
  }

  #creative-button.content-button-small {
    background: url(../images/creative-mono.png);
    background-size: cover;
    background-color: #f1decfa9;
    background-blend-mode: multiply;
  }

  #journey-button.content-button {
    background-image: url(../images/journey-frame-ezgif.com-instagif\(1\).png);
    background-position: center;
    background-size: cover;
    align-items: center;
    background-color: #bbaaaab2;
    background-blend-mode: multiply;
  }

  #journey-button:hover.content-button {
    background-image: url("../images/journey-ezgif.com-instagif.gif");
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #journey-button.content-button-small {
    background-image: url(../images/journey-frame-ezgif.com-instagif\(1\).png);
    background-position: center;
    background-size: cover;
    background-color: #bbaaaab2;
    background-blend-mode: multiply;
  }

  #journey-button:hover.content-button-small {
    background-image: url("../images/journey-ezgif.com-instagif.gif");
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #resume-button.content-button {
    background-image: url(../images/resume-frame-ezgif.com-instagif.png);
    background-position: center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    justify-content: center;
    display: flex;
    align-items: start;
    justify-content: center;

  }

  #resume-button:hover.content-button {
    background-image: url(../images/resume-ezgif.com-animated-gif-maker.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #resume-button.content-button-small {
    background-image: url(../images/resume-frame-ezgif.com-instagif.png);
    background-position: center;
    background-size: cover;
    background-color: #cc66ccCC;
    background-blend-mode: multiply;
    justify-content: center;
    display: flex;
    align-items: start;
    justify-content: center;

  }

  #resume-button:hover.content-button-small {
    background-image: url(../images/resume-ezgif.com-animated-gif-maker.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }
}

@media (orientation: portrait) {
  .content-button-text {
    color: white;
    font-family: O4B_30;
    text-shadow: -1px -1px 0 #ff5252, 1px -1px 0 #ff5252, -1px 1px 0 #ff5252, 1px 1px 0 #ff5252, 5px 5px #ff5252;
  }

  .content-button .content-button-text {
    font-size: calc(1vw + 4vh);
    font-weight: bolder;
    transform: scaleX(125%);
    margin: 0;
    padding: 0;
    /* text-shadow: 10px 10px black; */
  }
  #game-button:focus.content-button {
    background-image: url(../images/building.gif);
    background-position: center;
    background-size: cover;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #game-button:hover.content-button {
    background-image: url(../images/building.gif);
    background-position: center;
    background-size: contain;
    background-color: white;
    background-blend-mode: exclusion;
  }
  #game-button.content-button {
    background: url(../images/building-frame.png);
    background-size: contain;
    background-position: center;
    background-color: #def5fbe5;
    background-blend-mode: multiply;
  }

  
  #contact-button:focus.content-button {
    background-image: url(../images/contact.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }
  #contact-button:hover.content-button {
    background-image: url(../images/contact.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }
  #contact-button.content-button {
    background: url(../images/contact-frame.png);
    background-size: cover;
    background-position: center;
    background-color: white;
    background-blend-mode: multiply;
  }

  #code-button.content-button {
    background: url(../images/coding-frame-ezgif.com-instagif.png);
    background-position: center;
    background-size: cover;
    align-items: start;
    flex-direction: column;
    /* background-color: rgba(178, 254, 203, 0.915);
    background-blend-mode: exclusion; */
    background-color: #f4dcf4e5;
    background-blend-mode: multiply;
  }

  #code-button:focus.content-button {
    background-image: url(../images/coding-ezgif.com-instagif.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #code-button:hover.content-button {
    background-image: url(../images/coding-ezgif.com-instagif.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #creative-button:focus.content-button {
    background-image: url(../images/creative-mono.gif);
    background-color: white;
    background-blend-mode: exclusion;
  }
  #creative-button:hover.content-button {
    background-image: url(../images/creative-mono.gif);
    background-color: white;
    background-blend-mode: exclusion;
  }
  #creative-button.content-button {
    background: url(../images/creative-mono.png);
    background-size: cover;
    background-color: #f1decfa9;
    background-blend-mode: multiply;
  }


  #journey-button.content-button {
    background-image: url(../images/journey-frame-ezgif.com-instagif\(1\).png);
    background-position: center;
    background-size: cover;
    align-items: center;
    background-color: #bbaaaab2;
    background-blend-mode: multiply;
  }

  #journey-button:focus.content-button {
    background-image: url("../images/journey-ezgif.com-instagif.gif");
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }
  #journey-button:hover.content-button {
    background-image: url("../images/journey-ezgif.com-instagif.gif");
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #resume-button.content-button {
    background-image: url(../images/resume-frame-ezgif.com-instagif.png);
    background-position: center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
  }

  #resume-button:focus.content-button {
    background-image: url(../images/resume-ezgif.com-animated-gif-maker.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }

  #resume-button:hover.content-button {
    background-image: url(../images/resume-ezgif.com-animated-gif-maker.gif);
    background-position: center;
    background-color: white;
    background-blend-mode: exclusion;
  }
}
/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
