.welcome {
  color: white;
}

.content-button-text {
  color: white;
  font-family: Heyam;
  font-size: calc(1vw + 5vh);
  font-weight: bolder;
  transform: scaleX(150%);
  margin: 0;
  padding: 0;

}

#code-btn-text {
  margin-top: 7vh;
}

#creative-btn-text {
  margin-bottom: 1vh;
}

#code-button {
  background-image: url(../images/coding-frame-ezgif.com-instagif.png);
  background-position: center;
  background-size: cover;
  align-items: start;
  flex-direction: column;
  /* background-color: rgba(178, 254, 203, 0.915);
  background-blend-mode: exclusion; */
  background-color: #CC66CCCC;
  background-blend-mode: multiply;
}

#code-button:hover {
  background-image: url(../images/coding-ezgif.com-instagif.gif);
  background-position: center;
}


#creative-button:hover {
  background-image: url(../images/creative-ezgif.com-instagif\(1\).gif);
}

#creative-button {
  background: url(../images/creative-frame-ezgif.com-instagif.png);
  background-size: cover;
  background-color: #CC66CCCC;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#journey-button {
  background-image: url(../images/journey-frame-ezgif.com-instagif\(1\).png);
  background-position: center;
  background-size: cover;
  align-items: center;
  background-color: #CC66CCCC;
  background-blend-mode: multiply;
}

#journey-button:hover {
  background-image: url("../images/journey-ezgif.com-instagif.gif");
  background-position: center;
}

#resume-button {
  background-image: url(../images/resume-frame-ezgif.com-instagif.png);
  background-position: center;
  background-size: cover;
  background-color: #cc66ccCC;
  background-blend-mode: multiply;
  justify-content: center;
  display: flex;
  align-items: start;
  justify-content: center;

}

#resume-button:hover {
  background-image: url(../images/resume-ezgif.com-animated-gif-maker.gif);
  background-position: center;
}
