/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* content-switcher.css                      /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/05/29 12:54 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

.pop-up {
  width: 30%;
  height: 100%;
}

.contact-text {
  width: 70%;
}

.contact {
  display: flex;
  height: 10vh;
  width: calc(100vw - 50vh);
  text-align: end;
  margin: 0 3% 3% 10%
}

.contact-popup {
  display: none;  
  position: fixed;
  bottom: 10vh;
  width: calc(100vw - 50vh);
  height: 80vh;
  left: 50vh;
  border: 3px solid #f1f1f1;   
  background-color: white; 
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
