/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* creative.css                              /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/07/01 17:18 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

.content-container {
  background-color: white;
  background-image: url(../images/background_home_big.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.foreground-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  /* Set the desired width of the foreground image */
  height: auto;
  /* Maintains the aspect ratio */
}

/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
