/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* main.css                                  /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/05/29 12:55 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

@font-face {
	font-family: 'DS-Digital';
	src: url('/fonts/DS-Digital/DS-DIGI.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DS-DigitalS';
	src: url('/fonts/DS-Digital/DS-DIGIB.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Heyam';
	src: url('/fonts/Heyam/Heyam.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'O4B_30';
	src: url('/fonts/04b_30/04B_30__.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NewGothic';
	src: url('/fonts/New_Gothic/NewsGothicStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
	box-sizing: border-box;
	/* font-family: 'Press Start 2P', cursive; */
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: black;
}

/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
