* {
	box-sizing: border-box;
	font-family: 'Press Start 2P', cursive;
}
  
body {
	padding: 0;
	margin: 0;
	background-color: rgb(169, 87, 169);
}

button {
	background-color: white;
	border: dotted black;
}

.app {
	width: 100%;
}

.content-section {
	display: flex;
	
	width: 100%;
	height: 100%;
}

.content {
	height: auto;
	margin: auto;
}


.content-switcher {
	background-color: white;
}

.content-switcher button {
	min-height: 5vh;
}

.content-switcher button:hover {
	background-color: grey;
}
