/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* mediaQuery.css                            /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/05/29 12:55 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

@media (orientation: portrait) {  
  .app {
    height: 100vh;
    width: 100vw;
  }

  .grid {
    max-width: 100vw;
    max-height: 100vw;
    min-width: 100vw;
    min-height: 100vw;
    position: relative;
  }

  .game-controll {
    height: calc(100vh - 100vw - 10vh);
  }

  .message {
    width: 100vw;
    left: 50%;
  }

  @media (width > 450px) {
    .grid {
      max-width: 80vw;
      max-height: 80vw;
      min-width: 80vw;
      min-height: 80vw;
      margin-left: 10vw;
      margin-right: 10vw;
    }
    .game-controll {
      height: calc(100vh - 80vw - 10vh);
    }

    .message {
      width: 80vw;
    }
  }

  @media (width > 700px) {
    .grid {
      max-width: 60vw;
      max-height: 60vw;
      min-width: 60vw;
      min-height: 60vw;
      margin-left: 20vw;
      margin-right: 20vw;
    }

    .game-controll {
      height: calc(100vh - 60vw - 10vh);
    }
    .message {
      width: 60vw;
    }
  }

  .controlls {
    height: 10vh;
    width: 100vw;
  }
  
  .linktree-container {
    width: 100vw;
    height: 10%;
  }

  .linktree {
    width: 100vw;
    height: 100%;
  }

  .content-switcher-small {
    display: none;
  }

  .content-switcher {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100%;
  }

  .content-button {
    height: calc(100% / 6);
  }

  .content-section {
    height: 90%;
    width: 100vw;
    position: absolute;
    overflow: hidden;
  }

  .content {
    height: 90vh;
    width: 100%;
    position: absolute;
    display: none;
  }

  .content-container {
    height: 90vh;
    width: 100vw;
    position: absolute;
    overflow: auto;
  }

  .game {
    display: none;
    position: sticky;
    width: 100%;
    height: 90vh;
    align-self: flex-start;
    flex-direction: column;
  }

  #cnv {
    height: 90vh;
    width: 100vw;
  }

  #sw-crawl {
    width: 100%;
  }

  .contact-popup {
    height: 90vh;
    left:0;
  }
  
  .contact-text {
    display: none;
  }

  .contact { 
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .pop-up, .pop-down {
    display: none !important;
  }
  .foreground-image {
    width: 50%;
    top: 20%;
  }
}

@media (orientation: landscape) {
  .app {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .game {
    border-right: 10px solid white;
    position: sticky;
    top: 0;
    min-width: 50vh;
    height: 90vh;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .grid {
    width: 50vh;
    height: 50vh;
  }
  
  .game-controll {
    height: 30vh;
  }

  .message {
    width: calc(50vh - 20px);
    left: calc(25vh);
  }

  .something {
    flex-grow: 1;
  }

  
  .content-switcher {
    display: flex;
    z-index: 10;
    height: 90vh;
    width: calc(100vw - 50vh); 
  }
  
  .content-switcher-small {
    height: 10vh;
    width: calc(100vw - 50vh);
  }
  
  .content-section {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 50vh);
    height: 90vh;
  }

  .mobile-content-button {
    display: none !important;
  }

  .content-button {
    width: 25%;
    transition: width 0.4s ease-in-out;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    /* background-color: rgb(93, 255, 117); */
    display: flex;
    padding: 0px 0.5vw 0px 0.5vw;
    border:white 0.5vw solid;
    border-bottom: none;
  }

  .linktree {
    width: 50vh;
  }

  .linktree-container {
    height: 10vh;
  }

  .content-button:hover {
    border: 4px solid #ff5252;
    box-shadow: 0px 200px 0px #ff5252;
  }

  .content {
    overflow: auto;
    position: absolute;
    display: none;
    height: 80vh;
    top: 10vh;
    width: calc(100vw - 50vh);
  }

  .content-button-small {
    width: 25%;
    transition: width 0.4s ease-in-out;
    margin: 0;
    max-width: 100%;

    padding: 0px 0.5vw 0px 0.5vw;
    border: white 0.5vw solid;
  }

  .contact-popup {
    width: calc(100vw - 50vh);
    height: 80vh;
  }

  .pop-up, .pop-down {
    display: flex;
  }
  
  @media (max-width: calc(700px + 50vh)) {
    .content-button-text {
      white-space: nowrap;
      overflow: hidden;
      max-width: 3ch;
      
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
    }
  }

  #cnv {
    height: 80vh;
    width: calc(100vw - 50vh);
  }

  #sw-crawl {
    width: calc(100vw - 50vh);
  }
  .foreground-image {
    width: 50%;
    top: 5%;
    transform: translate(-50%, -15%);
  }
}

/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
