/* -------------------------8<---------------------------------------------- */
/*                                                                       .|  */
/* mediaQuery.css                            /     (__)          |/          */
/*                                                 (oo)------/'   ,__,    ,  */
/* By: phipno <phipno@gmail.com>                |  (__)     ||    (oo)_____/ */
/*                                                    ||---/||    (__)    || */
/* Created: 2024/05/29 12:55 by phipno       |/                 ,    ||--w|| */
/*                                         ,,       !              |'        */
/*                                              ,           ,|             | */
/* -----[ mooooooo ]-------------------------------------------------------- */

@media (orientation: portrait) {
  .game {
    width: 100%;
  }
  
  .grid {
    width: 85vw;
    height: 85vw;
    margin: 2% 7.5vw 0%;
  }
  
  .controlls {
    margin: 0 7.5vw 0 7.5vw;
    width: 85vw;
  }
  
  .linktree-container {
    width: 100vw;
  }

  .content-switcher {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 90vh;
    z-index: 10;
  }

  .content-button {
    height: calc(100% / 6);
  }
}

@media (orientation: landscape) {
  .app {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .game {
    border-right: 10px solid white;
    position: sticky;
    top: 0;
    min-width: 50vh;
    height: 90vh;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .grid {
    width: 50vh;
    height: 50vh;
  }

  .something {
    flex-grow: 1;
  }

  .content-switcher {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    width: calc(100vw - 50vh); 
    z-index: 10;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 50vh);
    height: 90vh;
  }

  .mobile-content-button {
    display: none !important;
  }

  .content-button {
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    /* background-color: rgb(93, 255, 117); */
    display: flex;
    padding: 0px 0.5vw 0px 0.5vw;
    border:white 0.5vw solid;
  }


  .content-button:hover {
    border: 4px solid #ff5252;
    box-shadow: 0px 200px 0px #ff5252;
    z-index: 11;
  }

  .content-switcher-small {
    height: 10vh;
    width: calc(100vw - 50vh);
  }

  .content-button-small {
    height: 10vh;
    margin: 0;
    max-width: 100%;

    padding: 0px 0.5vw 0px 0.5vw;
    border: white 0.5vw solid;
  }
  
  @media (max-width: calc(700px + 50vh)) {
    .content-button-text {
      white-space: nowrap;
      overflow: hidden;
      max-width: 3ch;
      
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* "~._.~"~._.~"~._.~"~._.~"~._.~"~. E O F .~"~._.~"~._.~"~._.~"~._.~"~._.~" */
