* {
	box-sizing: border-box;
	font-family: 'Press Start 2P', cursive;
}
  
body {
	padding: 0;
	margin: 0;
	background-color: rgb(169, 87, 169);
}

.app {
	height: 100vh;
	width: 100%;
}

.information {
	font-size: 1rem;
	color: white;
}

.scoreboard {
	margin: 20px;
	color: white;
}

.scoreboard > * {
	margin: 20px;
}

.controlls {
	display: flex;
	justify-content: center;
	margin: 0%;
}

@media (orientation: portrait) {
	.game {
		width: 100%;
	}

	.grid {
		width: 85vw;
		height: 85vw;
		margin: 2% 7.5vw 0%;
	}
	
	.controlls {
		margin: 0 7.5vw 0 7.5vw;
		width: 85vw;
	}

	.linktree-container {
		width: 100%;
	}

	.controlls button {
		width: 100%;
	}
}

@media (orientation: landscape) {
	.app {
		display: grid;
		grid-template-columns: 50vh 60vw;
		align-items: start;
		gap: 8px;
	}
	
	.linktree-container {
		width: 50vh;
	}
	
	.controlls {
		width: 50vh;
	}
	
	.something {
	}

	.game {
		border-right: 10px solid white;
		height: 100vh;
		width: 50vh;
		overflow: hidden;
		position: sticky;
		align-items: start;
		top: 0;
	}
	
	.grid {
		width: 50vh;
		height: 50vh;
	}
}


.grid {
	border: white solid 10px;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-auto-rows: 1fr;
}

.grid > div {
	width: 100%;
	height: 100%;
	background-size: contain;
}

.spaceship {
	background-image: url("./images/spaceship.png");
}

.laser {
	background-image:  url("./images/projectile.png");
}

.alien {
	background-image: url("images/alien.png");
}

.explosion {
	background-image: url("images/explosion.png");
}

.message {
	position: absolute;
	/* top: 0; */

	width: 200px;
	height: 100px;
	background-color: white;
	opacity: 85%;
}

.message h1 {
	color: blue;
	text-align: center;
	line-height: 50px;
}

.move, .fire {
	margin: 10px 0px;
	width: 30%;
	height: 10vh;
}
